{% load static %}


			<section class="page_toplogo ls s-py-15 text-center">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-4">
							{% comment %} <div class="d-lg-flex justify-content-lg-end align-items-lg-center">
								<span class="social-icons top">

									<a href="#" class="fa fa-facebook " title="facebook"></a>
									<a href="#" class="fa fa-twitter " title="twitter"></a>
									<a href="#" class="fa fa-google " title="google"></a>
									<a href="#" class="fa fa-linkedin " title="linkedin"></a>
									<a href="#" class="fa fa-pinterest-p " title="linkedin"></a>
								</span>
							</div> {% endcomment %}
						</div>
						<div class="col-lg-4 text-center">
							<div class="text-center">
								<div class="header_logo_center">
									<a href="./" class="logo">
										<img src="{% static 'logo.png' %}" alt="">
									</a>
								</div>
								<!-- eof .header_left_logo -->
							</div>
						</div>
						<div class="col-lg-4">
							{% comment %} <button class="btn-outline-darkgrey  d-none d-lg-block">Looking for Staff?</button> {% endcomment %}
						</div>
					</div>
				</div>
			</section>