{% extends 'partials/_base.html' %}
{% load static %}

{% block title %}
  İLETİŞİM
{% endblock %}
{% block bodyclass %}

{% endblock %}

{% block content %}
  <section class="page_title cs gradientvertical-background s-py-25">
    <div class="container">
      <div class="row">
        <div class="divider-50"></div>

        <div class="col-md-12 text-center text-uppercase">
          <h1 class="">İLETİŞİM</h1>
          <ol class="breadcrumb">
            <li class="breadcrumb-item text-uppercase">
              <a href="{% url 'index' %}">ANASAYFA</a>
            </li>

            <li class="breadcrumb-item active text-uppercase">İLETİŞİM</li>
          </ol>
        </div>

        <div class="divider-50"></div>
      </div>
    </div>
  </section>

  <section class="s-pt-75">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 animate">
          <iframe class="border border-2 border-dark" 
		  style="width: 100%; height: 400px;" 
		  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" 
		  frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="ls s-py-75">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 divider-40 animate" data-animation="pullDown">
          <div class="icon-box text-center contact-icon">
            <div class="icon-styled bg-maincolor border border-dark border-2">
              <i class="fa fa-phone"></i>
            </div>
            <p>
              <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
              <br />
              <a href="tel:{{ contact.mobile_phone }}">{{ contact.mobile_phone }}</a>
              <br />
              <a href="tel:{{ contact.mobile_phone_2 }}">{{ contact.mobile_phone_2 }}</a>
              <br />
              <a href="tel:{{ contact.mobile_phone_3 }}">{{ contact.mobile_phone_3 }}</a>
            </p>
          </div>
        </div>

        <div class="col-sm-4 divider-40 animate" data-animation="pullDown">
          <div class="icon-box text-center contact-icon">
            <div class="icon-styled bg-maincolor border border-dark border-2">
              <i class="fa fa-map-marker"></i>
            </div>
            <p>{{ contact.address }}</p>
          </div>
        </div>

        <div class="col-sm-4 pb-60 divider-40 animate" data-animation="pullDown">
          <div class="icon-box text-center contact-icon">
            <div class="icon-styled bg-maincolor border border-dark border-2">
              <i class="fa fa-envelope-o"></i>
            </div>
            <p>
              <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
